.hero__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  
}

.hero__card {
    border: 3px solid rgb(15, 12, 12);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(160, 159, 159);
    background-color: white;
}